*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}


nav{
  position:fixed;
  top:0;
  width:100%;
  padding:16px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:transparent;
  transition:0.4s ease;
  z-index:1000;
}

nav.scrolled{
  background:#111827;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.logo{
  color:white;
  font-size:22px;
  font-weight:bold;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:16px;
  padding:6px 10px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#38bdf8;
  border-bottom:2px solid #38bdf8;
}

.hero{
  height:100vh;
  background:linear-gradient(to right,#020617,#111827);
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  text-align:center;
}

.hero h1{
  font-size:48px;
}

.hero p{
  margin-top:15px;
  font-size:18px;
}


section{
  padding:100px 40px;
}

.light{
  background:#f1f5f9;
  color:black;
}

.dark{
  background:#0f172a;
  color:white;
}


@media(max-width:768px){
  .hero h1{
    font-size:34px;
  }
  .nav-links{
    gap:15px;
  }
}
